<!DOCTYPE html>
<html>
  <head>
    <title>Techtionary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <h1><a href="/words">Techtionary</a></h1>

        <button type="button" class="btn btn-secondary btn-lg btn-block">Add a word</button>

    <% definitions.forEach(function (word) { %>
      <h2><a href="./definition/<%= word.id %>"><%= word.word %></a></h2>
    <% }) %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
