<!DOCTYPE html>
<html>
  <head>
    <title>Techtionary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% let word = definitions[0] %>
    <h1><%= word.word %></h1>

      <h2><%= word.definition %></h2>
  </body>
</html>
