.btn btn-secondary btn-lg btn-block .btn btn-secondary btn-lg btn-block {
  background-color: blue;
}
body {
  background: Maroon;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: gainsboro;
}
.text-muted {
  color: white;
}
a {
  color: white;
}
.card {
  padding-top: 10px;
}
nav .navbar navbar-light {
  background: black;
}
